<input type="date" value="@Date?.ToString("yyyy-MM-dd")" format-value="yyyy-MM-dd" @onchange="OnDateChanged"
	   @attributes="InputAttributes" />
<button class="btn btn-sm" @onclick="Revert">
	<i class="oi oi-reload"></i>
</button>


